@use './functions' as *;
@use './variables' as *;
@use './colors' as *;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
  gap: px_to_rem(4px_to_rem(0px));
}

@mixin slider-thumb($bg-color) {
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: $thumb-size;
    height: $thumb-size;
    border-radius: 50%;
    background: $bg-color;
    margin-top: $thumb-margin-top;
  }
}

@mixin fullscreen {

  &:fullscreen,
  &:-webkit-full-screen {
    @content;
  }
}

@mixin media-query($breakpoint) {
  @if $breakpoint =='tablet' {
    @media (max-width: $breakpoint-tablet) {
      @content;
    }
  }

  @else if $breakpoint =='mobile' {
    @media (max-width: $breakpoint-mobile) {
      @content;
    }
  }
}